<app-horizontal-navbar></app-horizontal-navbar>

<div class="home-wrapper">
    <div class="add-task">
        <button mat-raised-button color="primary">Add Task</button>
    </div>
</div>

<div class="list-container">
    <div>
        <app-task [taskType]="taskTypeVal.TODO" [tasks]="todoTask">
        </app-task>
    </div>
    <div>
        <app-task [taskType]="taskTypeVal.INPROGRESS" [tasks]="inProgressTask">
        </app-task>
    </div>
    <div>
        <app-task [taskType]="taskTypeVal.COMPLETED" [tasks]="completedTask">
        </app-task>
    </div>

</div>